<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Form Patients</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6  offset-3">
        <form method="post" th:action="@{/admin/save}">
            <div>
                <label for="nom">Nom</label>
                <input id="nom" class="form-control" type="text" name="nom" th:value="${patient.nom}"></input>
                <span th:errors="${patient.nom}" class="text-danger"></span>
            </div>
            <div>
                <label for="dateDeNaissance">Date De Naissance</label>
                <input id="dateDeNaissance" class="form-control" type="date" name="dateDeNaissance"
                       th:value="${patient.dateDeNaissance}"></input>
                <span th:errors="${patient.dateDeNaissance}" class="text-danger"></span>
            </div>
            <div>
                <label for="malade">Malade</label>
                <input id="malade" type="checkbox" name="malade" th:checked="${patient.malade}"></input>
                <span th:errors="${patient.malade}" class="text-danger"></span>
            </div>
            <div>
                <label for="score">Score</label>
                <input id="score" class="form-control" type="text" name="score" th:value="${patient.score}"></input>
                <span th:errors="${patient.score}" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
</body>
</html>